<style>
    .admin{
        
    }
    .sidebar{
        background: rgb(102,103,171);
        background: linear-gradient(90deg, rgba(102,103,171,1) 0%, rgba(75,75,200,1) 50%);
        height: 100vh;
        color: #ffffff;
        position: fixed;
        display: block;
        width: 10vw;
    }
    .sidebar > ul > li{
        border-bottom: 1px solid #1f1f1f;
        cursor: pointer;
    }
    .sidebar > ul > li:hover{
        color: #b8b8b8;
    }
    .content{
        margin-left: 10vw;
        padding: 20px;
        width: calc(100% - 10vw);
    }
    .choosen{
        background-color: #ffffff;
        color: #000000;
    }
    {{!-- Account --}}
    {{!-- Product --}}
    {{!-- Neccessary --}}
    .hightlight-neccessary:hover{
        color: aqua;
    }

    .a-heading{
        display: block;
        font-size: 16px;
        font-weight: 900;
        padding: 20px 10px;
        text-transform: uppercase;
    }
    .link-hover{
        
        text-decoration: underline;
    }
    .link-hover:hover{
        color:aqua;
    }
    .manage{
        
        width: 100%;
    }

        
    

    /* CSS */
    .button-37 {
        background-color: #13aa52;
        border: 1px solid #13aa52;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        outline: 0;
        padding: 10px 25px;
        text-align: center;
        transform: translateY(0);
        transition: transform 150ms, box-shadow 150ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-right: 20px;
    }

    .button-37:hover {
        box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2px);
    }

    @media (min-width: 768px) {
        .button-37 {
            padding: 10px 30px;
        }
    }
    .action{
        display: flex;
    }
</style>

<div class="admin">
    <div class="sidebar">
        <h2>ADMIN</h2>
        <ul>
            <li class="manage-account {{#if isManageAccount}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin">Manage account</a></li>
            <li class="manage-product {{#if isManageProduct}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/manage-product">Manage product</a></li>
            <li class="manage-neccessary {{#if isManageNeccessary}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/manage-neccessary">Manage Neccessary</a></li>
        </ul>
        
    </div>
    <div class="content">
        <div class="manage">
            <h3>Trang thai hien tai: F <span></span> </h3>
            <div class="treatment-place" style="margin-bottom: 20px;">
                <h5><b>Hiện đang điều trị tại:</b> <span>Khu điều trị {{ten_ndt}}</span> </h5>
                <h5><b>Địa chỉ:</b> {{diachi_ndt}}</h5>
                <div class="action-item">
                    <button class="button-37" role="button"
                    onclick="changeTreatmentPlace()">Đổi khu điều trị</button>
                </div>
            </div>
            <table class="table">
                    <thead class="thead-light">
                        <tr>
                        
                        <th scope="col">Ma NLQ</th>
                        <th scope="col">Ho Ten</th>                        
                        <th scope="col">CMND/CCCD</th>
                        <th scope="col">Ngay Sinh</th>
                        <th scope="col">Gioi Tinh</th>
                        <th scope="col">Dia Chi</th>
                        <th scope="col">Phuong/Xa</th>
                        <th scope="col">Quan/Huyen</th>
                        <th scope="col">Tinh/Thanh Pho</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr>
                            
                            <td>{{user.MaNLQ}}</td>
                            <td>{{user.HoTen}}</td>
                            <td>{{user.CCCD}}</td>                            
                            <td>{{user.NgaySinh}}</td>
                            <td>{{user.GioiTinh}}</td>
                            <td>{{user.DiaChi}}</td>
                            <td>{{user.TenPhuongXa}}</td>
                            <td>{{user.TenQuanHuyen}}</td>
                            <td>{{user.TenTinhTP}}</td>
                            <td>{{user.username}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditProduct{{@index}}">
                                    <i class="fas fa-edit" data-toggle="tooltip" data-placement="right" title="Edit"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalEditProduct{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Chỉnh Sửa Tai Khoan</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="masp-edit" class="col-form-label">Mã NLQ:</label>
                                                        <input style="min-width: 200px;" type="text" class="form-control" id="manlq" value="{{user.MaNLQ}}" disabled/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="tensp-edit" class="col-form-label">Tên NLQ:</label>
                                                        <input type="text" class="form-control" id="hoten" value="{{user.HoTen}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="gt-edit" class="col-form-label">CMND/CCCD:</label>
                                                        <input type="number" min="0" class="form-control" id="cccd" value="{{user.CCCD}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="dvdl-edit" class="col-form-label">Ngay Sinh:</label>                                        
                                                        <input class="form-control" id="ngaysinh" value="{{user.NgaySinh}}" type="datetime"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sl-edit" class="col-form-label">Gioi Tinh:</label>                                        
                                                        <select class="form-control" id="gioitinh">                                                            
                                                            <option value="Nam">Nam</option>
                                                            <option value="Nu">Nu</option>                                                            
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="dvdl-edit" class="col-form-label">Dia Chi:</label>                                        
                                                        <input class="form-control" id="diachi" value="{{user.DiaChi}}" type="datetime"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sl-edit" class="col-form-label">Tinh/Thanh Pho:</label>                                        
                                                        <select class="form-control" id="phuongxa">                                                            
                                                            {{#each dsttp}}                                                      
                                                            <option value="{{this.TenTinhTP}}">{{this.TenTinhTP}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sl-edit" class="col-form-label">Quan/Huyen:</label>                                        
                                                        <select class="form-control" id="phuongxa">                                                            
                                                            {{#each dsqh}}                                                      
                                                            <option value="{{this.TenQuanHuyen}}">{{this.TenQuanHuyen}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sl-edit" class="col-form-label">Phuong/Xa:</label>                                        
                                                        <select class="form-control" id="phuongxa">                                                            
                                                            {{#each dspx}}                                                      
                                                            <option value="{{this.TenPhuongXa}}">{{this.TenPhuongXa}}</option>
                                                            {{/each}}
                                                        </select>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ Bỏ</button>
                                                <button type="button" class="btn btn-primary" onclick="">Xác Nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete" onclick="deletePeople('{{user.MaNLQ}}')"></i>
                            </td>
                        </tr>
                        
                    </tbody>
            </table>
            <div class="action" style="margin-bottom: 20px;">
                <div class="action-item">
                    <button class="button-37" role="button"
                    onclick="khoiBenh()">Đã khỏi bệnh</button>
                </div>
                <div class="action-item">
                    <button class="button-37" role="button" 
                    onclick="addF1()">Thêm F1</button>
                </div>
                <div class="action-item">
                    <button class="button-37" role="button"
                    onclick="addF2()">Thêm F2</button>
                </div>
            </div>
            <h3>Danh sach nguoi lien quan:</h3>

            <h4>F0: </h4>
            <table class="table">
                    <thead class="thead-light">
                        <tr>
                        
                        <th scope="col">Ma NLQ</th>
                        <th scope="col">Ho Ten</th>                        
                        <th scope="col">CMND/CCCD</th>
                        <th scope="col">Ngay Sinh</th>
                        <th scope="col">Gioi Tinh</th>
                        <th scope="col">Dia Chi</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each listF0 as |item i| }}
                        <tr>
                            
                            <td><a class="link-hover" href="/admin/manage-account/account?manlq={{item.MaNLQ}}">{{item.MaNLQ}}</a></td>
                            <td>{{item.HoTen}}</td>
                            <td>{{item.CCCD}}</td>                            
                            <td>{{item.NgaySinh}}</td>
                            <td>{{item.GioiTinh}}</td>
                            <td>{{item.DiaChi}}</td>
                            <td>{{item.username}}</td>
                            <td>
                                
                                
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>


            <h4>F1: </h4>
            <table class="table">
                    <thead class="thead-light">
                        <tr>
                        
                        <th scope="col">Ma NLQ</th>
                        <th scope="col">Ho Ten</th>                        
                        <th scope="col">CMND/CCCD</th>
                        <th scope="col">Ngay Sinh</th>
                        <th scope="col">Gioi Tinh</th>
                        <th scope="col">Dia Chi</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each listF1 as |item i| }}
                        <tr>
                            
                            <td><a class="link-hover" href="/admin/manage-account/account?manlq={{item.MaNLQ}}">{{item.MaNLQ}}</a></td>
                            <td>{{item.HoTen}}</td>
                            <td>{{item.CCCD}}</td>                            
                            <td>{{item.NgaySinh}}</td>
                            <td>{{item.GioiTinh}}</td>
                            <td>{{item.DiaChi}}</td>
                            <td>{{item.username}}</td>
                            <td>
                                
                                
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>

            <h4>F2: </h4>
            <table class="table">
                    <thead class="thead-light">
                        <tr>
                        
                        <th scope="col">Ma NLQ</th>
                        <th scope="col">Ma NLQ Truoc</th>
                        <th scope="col">Ho Ten</th>                        
                        <th scope="col">CMND/CCCD</th>
                        <th scope="col">Ngay Sinh</th>
                        <th scope="col">Gioi Tinh</th>
                        <th scope="col">Dia Chi</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each listF2 as |item i| }}
                        <tr>
                            
                            <td><a class="link-hover" href="/admin/manage-account/account?manlq={{item.MaNLQ}}">{{item.MaNLQ}}</a></td>
                            <td><a class="link-hover" href="/admin/manage-account/account?manlq={{item.MaNLQTruoc}}">{{item.MaNLQTruoc}}</a></td>
                            <td>{{item.HoTen}}</td>
                            <td>{{item.CCCD}}</td>                            
                            <td>{{item.NgaySinh}}</td>
                            <td>{{item.GioiTinh}}</td>
                            <td>{{item.DiaChi}}</td>
                            <td>{{item.username}}</td>
                            <td>
                                
                                
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
            </table>

            
        </div>
    </div>
</div>
<script>
    let changeTreatmentPlace = () => {
        Swal.fire('Đổi sang Âm phủ: Thành công')
    }
    let khoiBenh = async () => {
        const { value: accept } = await Swal.fire({
            title: 'Xác nhận khỏi bệnh:',
            input: 'checkbox',
            inputValue: 0,
            inputPlaceholder:
                'Xác nhận người này đã khỏi bệnh',
            confirmButtonText:
                'Xác nhận <i class="fa fa-arrow-right"></i>',
            inputValidator: (result) => {
                return !result && 'Tích vào ô xác nhận để xác nhận xác nhận.'
            }
        })

        if (accept) {
            Swal.fire('You agreed with T&C :)')
        }
    }
    let deletePeople = async (manlq) => {
        const { value: accept } = await Swal.fire({
            title: 'Xoá người liên quan',
            input: 'checkbox',
            inputValue: 1,
            inputPlaceholder:
                'Xác nhận xoá',
            confirmButtonText:
                'Xác nhận <i class="fa fa-arrow-right"></i>',
            inputValidator: (result) => {
                return !result && 'bạn phải đồng ý xoá'
            }
        })

        if (accept) {
            const data = { manlq: manlq };
            console.log(data)
            fetch('/admin/manage-account/delete-account', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.href = '/admin/manage-account?page=0'
            })
            .catch((error) => {
                console.error('Error:', error);
            });

            Swal.fire('Xoá thành công =))')
        }
    }
    let addF1 = async () => {
        const { value: id } = await Swal.fire({
            title: 'Nhập mã F1',
            input: 'text',
            inputLabel: 'Mã người liên quan',
            inputPlaceholder: 'Nhập MaNLQ...'
        })

        if (id) {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1500
            })
        }
    }

    let addF2 = async () => {
        const { value: id } = await Swal.fire({
            title: 'Nhập mã F2',
            input: 'text',
            inputLabel: 'Mã người liên quan',
            inputPlaceholder: 'Nhập MaNLQ...'
        })

        if (id) {
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1500
            })
        }
    }
</script>