<style>
    .admin{
        display: grid;
        grid-template-columns: 1fr 7fr;
    }
    .sidebar{
        background: rgb(102,103,171);
        background: linear-gradient(90deg, rgba(102,103,171,1) 0%, rgba(75,75,200,1) 50%);
        height: 100vh;
        color: #ffffff;
    }
    .sidebar > ul > li{
        border-bottom: 1px solid #1f1f1f;
        cursor: pointer;
    }
    .sidebar > ul > li:hover{
        color: #b8b8b8;
    }

    .choosen{
        background-color: #ffffff;
        color: #000000;
    }
    {{!-- Account --}}
    {{!-- Product --}}
    {{!-- Neccessary --}}
    .hightlight-neccessary:hover{
        color: aqua;
    }

    .a-heading{
        display: block;
        font-size: 16px;
        font-weight: 900;
        padding: 20px 10px;
        text-transform: uppercase;
    }

</style>

<div class="admin">
    <div class="sidebar">
        <h2>ADMIN</h2>
        <ul>
            <li class="manage-account {{#if isManageAccount}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin">Manage account</a></li>
            <li class="manage-product {{#if isManageProduct}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/manage-product">Manage product</a></li>
            <li class="manage-neccessary {{#if isManageNeccessary}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/manage-neccessary">Manage Neccessary</a></li>
        </ul>
        
    </div>
    <div class="content">
        <div class="manage-neccessary">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tim theo</button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">ID</a>
                    <a class="dropdown-item" href="#">Name</a>
                    <a class="dropdown-item" href="#">CCCD</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </div>
            </div>
            <table class="table">
                    <thead class="thead-light">
                        <tr>
                        
                        <th scope="col">Ma NLQ</th>
                        <th scope="col">Ho Ten</th>                        
                        <th scope="col">CMND/CCCD</th>
                        <th scope="col">Ngay Sinh</th>
                        <th scope="col">Gioi Tinh</th>
                        <th scope="col">Dia Chi</th>
                        <th scope="col">Username</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each listUser as |item i| }}
                        <tr>
                            
                            <td><a href="/admin/manage-account/account?manlq={{item.MaNLQ}}">{{item.MaNLQ}}</a></td>
                            <td>{{item.HoTen}}</td>
                            <td>{{item.CCCD}}</td>                            
                            <td>{{item.NgaySinh}}</td>
                            <td>{{item.GioiTinh}}</td>
                            <td>{{item.DiaChi}}</td>
                            <td>{{item.username}}</td>
                            <td>
                                <i class="fas fa-edit" data-toggle="tooltip" data-placement="right" title="Edit"></i>
                                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete"></i>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
        </div>
    </div>
</div>