<style>
    .admin{
        display: grid;
        grid-template-columns: 1fr 7fr;
    }
    .content {
        padding: 15px;

    }
    .sidebar{
        background: rgb(102,103,171);
        background: linear-gradient(90deg, rgba(102,103,171,1) 0%, rgba(75,75,200,1) 50%);
        height: 100vh;
        color: #ffffff;
    }
    .sidebar > ul > li{
        border-bottom: 1px solid #1f1f1f;
        cursor: pointer;
    }
    .sidebar > ul > li:hover{
        color: #b8b8b8;
    }

    .choosen{
        background-color: #ffffff;
        color: #000000;
    }
    {{!-- Account --}}
    {{!-- Product --}}
    {{!-- Neccessary --}}
    .hightlight-neccessary:hover{
        color: aqua;
    }
    .manage-neccessary{
        display: flex;
        
    }
    .neccessary-heading{
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid #a5a5a5;
        padding: 5px;
        margin: 5px;
        cursor: pointer;
    }
    .neccessary-heading:hover{
        color:aqua;
    }
    .list-neccessary{
        width: 20%;
        height: 100vh;
        border-right: 1px solid #a5a5a5;
        border-right: 1px solid #a5a5a5;
    }
    .neccessary-info{
        width: 70%;
        margin: 20px;
    }
    .a-heading{
        display: block;
        font-size: 16px;
        font-weight: 900;
        padding: 20px 10px;
        text-transform: uppercase;
    }
    .table-product-image{
        width: 100px;
    }

    .button-37 {
        background-color: #13aa52;
        border: 1px solid #13aa52;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
        font-weight: 400;
        outline: none;
        outline: 0;
        padding: 10px 25px;
        text-align: center;
        transform: translateY(0);
        transition: transform 150ms, box-shadow 150ms;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-right: 20px;
    }

    .button-37:hover {
        box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
        transform: translateY(-2px);
    }

    @media (min-width: 768px) {
        .button-37 {
            padding: 10px 30px;
        }
    }
    .action{
        display: flex;
        margin:30px 0; 
    }

    form {
        width: 100%;
    }
    .input-group form div {
        display: flex;
        width: 100%;
        height: 38px;
    }
</style>

<div class="admin">
    <div class="sidebar">
        <h2>ADMIN</h2>
        <ul>
            <li class="manage-account {{#if isManageAccount}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/manage-account">Manage account</a></li>
            <li class="manage-account {{#if isManagePeople}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/manage-people">Manage people</a></li>
            <li class="manage-product {{#if isManageProduct}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/manage-product">Manage product</a></li>
            <li class="manage-neccessary {{#if isManageNeccessary}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/manage-neccessary">Manage Neccessary</a></li>
            <li class="manage-neccessary {{#if isStatistic}}choosen{{/if}}"><a class="hightlight-neccessary a-heading" href="/admin/statistic">Statistic</a></li>
        </ul>
        
    </div>
    <div class="content">
        {{#if isManageAccount}}
        {{/if}}
        {{#if isManageProduct}}
        <div class="input-group">
            <form action="/admin/manage-product/search" method="post">
            <div style="margin-bottom: 20px;">
                <select name="arrange" id="arrange" style="margin: 0 10px 0 0;">
                    <option value="all">Mặc Định</option>
                    <option value="up">Giá Tăng Dần</option>
                    <option value="down">Giá Giảm Dần</option>
                </select>
                <select name="filter" id="filter" style="margin: 0 10px;">
                    <option value="all">Tất Cả</option>
                    <option value="10k">Dưới 10.000vnd</option>
                    <option value="50k">10.000vnd - 50.000vnd</option>
                    <option value="50k+">Trên 50.000vnd</option>
                </select>
                <select name="package" id="productInPackage" style="margin: 0 10px;">
                    <option value="all">Tất Cả</option>
                    {{#each packages}}
                        <option value="{{this.MaNYP}}">{{this.TenGoi}}</option>
                    {{/each}}
                    
                </select>
            </div>
            <div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Search..."
                    name="search">
                <select name="type" id="typeSearch" style="margin: 0 10px;">
                    <option value="id">Mã Sản Phẩm</option>
                    <option value="name">Tên Sản Phẩm</option>
                </select>
                <button class="button-37" role="button" onclick="" type="submit" style="padding: 0px !important; width: 100px;">Tìm</button>
            </div>
            </form>
        </div>
        <div class="manage-neccessary">
            <div class="list-neccessary">
                <h4 style="margin-top: 10px; font-weight: 700;">Danh Sách Sản Phẩm: </h4>
                {{#each listNeccessary as |item| }}
                <p class="neccessary-heading"><a class="hightlight-neccessary" href="/admin/manage-neccessary/{{item.MaNYP}}">{{item.MaNYP}}</a></p>
                {{/each}}
                <p style="margin-top: 50px;">Thêm Sản Phẩm 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddProduct">
                        <i class="fas fa-plus"></i>
                    </button>
                </p>
                <form action="" method="post">

                </form>
                <!-- Modal -->
                <div class="modal fade" id="modalAddProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Thêm Sản Phẩm</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="masp-1" class="col-form-label">Mã Sản Phẩm: </label>
                                        <input style="min-width: 200px;" type="text" class="form-control" id="masp-1" value="{{newProductID}}" disabled/>
                                    </div>
                                    <div class="form-group">
                                        <label for="tensp-1" class="col-form-label">Tên Sản Phẩm: </label>
                                        <input type="text" min="1" class="form-control" id="tensp-1"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="gt-1" class="col-form-label">Giá Tiền: </label>
                                        <input type="number" step="1000" min="0" class="form-control" id="gt-1"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="dvdl-1" class="col-form-label">Đơn Vị Định Lượng:</label>                                        
                                        <input class="form-control" id="dvdl-1"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="sl-1" class="col-form-label">Số Lượng:</label>                                        
                                        <input type="number" min="1" class="form-control" id="sl-1"></input>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                                <button type="button" class="btn btn-primary" onclick="handleSubmitModalAddProduct()">Xác Nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="neccessary-info">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col"></th>
                        <th scope="col">MaSP</th>
                        <th scope="col">TenSP</th>                        
                        <th scope="col">GiaTien</th>
                        <th scope="col">DonViDinhLuong</th>
                        <th scope="col">SoLuong</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                        <tr>
                            <th scope="row"><img src="/products/{{this.key}}/1.jpg" alt="Hihi" class="table-product-image" /></th>
                            <td>{{this.MaSP}}</td>
                            <td>{{this.TenSP}}</td>
                            <td>{{this.GiaTien}}</td>
                            <td>{{this.DonViDinhLuong}}</td>                            
                            <td>{{this.SoLuong}}</td>                            
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditProduct{{@index}}">
                                    <i class="fas fa-edit" data-toggle="tooltip" data-placement="right" title="Edit"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalEditProduct{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Chỉnh Sửa Sản Phẩm </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="masp-edit" class="col-form-label">Mã Sản Phẩm:</label>
                                                        <input style="min-width: 200px;" type="text" class="form-control" id="masp-edit-{{@index}}" value="{{this.MaSP}}" disabled/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="tensp-edit" class="col-form-label">Tên Sản Phẩm:</label>
                                                        <input type="text" class="form-control" id="tensp-edit-{{@index}}" value="{{this.TenSP}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="gt-edit" class="col-form-label">Giá Tiền:</label>
                                                        <input type="number" step="1000" min="0" class="form-control" id="gt-edit-{{@index}}" value="{{this.GiaTien}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="dvdl-edit" class="col-form-label">Đơn Vị Định Lượng:</label>                                        
                                                        <input class="form-control" id="dvdl-edit-{{@index}}" value="{{this.DonViDinhLuong}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sl-edit" class="col-form-label">Số Lượng:</label>                                        
                                                        <input type="number" min="1" class="form-control" id="sl-edit-{{@index}}" value="{{this.SoLuong}}"></input>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ Bỏ</button>
                                                <button type="button" class="btn btn-primary" onclick="handleSubmitModalEditProduct({{@index}})">Xác Nhận</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete" onclick="handleSubmitModalDeleteProduct('{{this.MaSP}}')"></i>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                <!-- Modal -->
                <div class="modal fade" id="modalAddProductNeccessary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Thêm Gói Nhu Yếu Phẩm </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="manyp" class="col-form-label">Mã Nhu Yếu Phẩm:</label>
                                        <input style="min-width: 200px;" type="text" class="form-control" id="manyp" value="{{neccessary.MaNYP}}" disabled/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sl" class="col-form-label">Số Lượng:</label>
                                        <input type="number" min="1" class="form-control" id="sl"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="ghsl" class="col-form-label">Giới Hạn Số Lượng:</label>
                                        <input type="number" min="1" class="form-control" id="ghsl"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="msp" class="col-form-label">Mã Sản Phẩm:</label>                                        
                                        <select class="form-control" id="msp">
                                            {{#each listProduct}}
                                            <option>{{this.MaSP}}</option>
                                            {{/each}}
                                        </select>

                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ Bỏ</button>
                                <button type="button" class="btn btn-primary" onclick="handleSubmitModalAddProductNeccessary()">Xác Nhận</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        {{#if isManageNeccessary}}
        <div class="manage-neccessary">
            <div class="list-neccessary">
                <h4 style="margin-top: 10px; font-weight: 700;">Cac goi nhu yeu pham: </h4>
                {{#each listNeccessary as |item| }}
                <p class="neccessary-heading"><a class="hightlight-neccessary" href="/admin/manage-neccessary/{{item.MaNYP}}">{{item.MaNYP}}</a></p>
                {{/each}}
                <p style="margin-top: 50px;">Them goi nhu yeu pham 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddNeccessary">
                        <i class="fas fa-plus"></i>
                    </button>
                </p>
                <!-- Modal -->
                <div class="modal fade" id="modalAddNeccessary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Them goi nhu yeu pham </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="manyp-1" class="col-form-label">Ma NYP:</label>
                                        <input style="min-width: 200px;" type="text" class="form-control" id="manyp-1" value="{{next_gnyp}}" disabled/>
                                    </div>
                                    <div class="form-group">
                                        <label for="tengoi-1" class="col-form-label">Ten goi:</label>
                                        <input type="text" min="1" class="form-control" id="tengoi-1"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="ghgn-1" class="col-form-label">Gioi Han Goi/Nguoi:</label>
                                        <input type="number" min="1" class="form-control" id="ghgn-1"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="tggh-1" class="col-form-label">Thoi Gian Gioi Han:</label>                                        
                                        <input type="number" min="1" class="form-control" id="tggh-1"></input>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="handleSubmitModalAddNeccessary()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="neccessary-info">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">Ma NYP</th>
                        <th scope="col">TenGoi</th>                        
                        <th scope="col">GioiHanGoi/Nguoi</th>
                        <th scope="col">ThoiGianGioiHan</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">{{neccessary.MaNYP}}</th>
                            <td>{{neccessary.TenGoi}}</td>
                            <td>{{neccessary.GioiHanGoiNguoi}}</td>
                            <td>{{neccessary.ThoiGianGioiHan}}</td>                            
                            <td>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditNeccessary{{@index}}">
                                    <i class="fas fa-edit" data-toggle="tooltip" data-placement="right" title="Edit"></i>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="modalEditNeccessary{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Chinh sua goi nhu yeu pham </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="manyp-edit" class="col-form-label">Ma NYP:</label>
                                                        <input style="min-width: 200px;" type="text" class="form-control" id="manyp-edit" value="{{neccessary.MaNYP}}" disabled/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="tengoi-edit" class="col-form-label">Ten goi:</label>
                                                        <input type="text" class="form-control" id="tengoi-edit" value="{{neccessary.TenGoi}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ghgn-edit" class="col-form-label">Gioi Han Goi/Nguoi:</label>
                                                        <input type="number" min="1" class="form-control" id="ghgn-edit" value="{{neccessary.GioiHanGoiNguoi}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="tggh-edit" class="col-form-label">Thoi Gian Gioi Han:</label>                                        
                                                        <input type="number" min="1" class="form-control" id="tggh-edit" value="{{neccessary.ThoiGianGioiHan}}"></input>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-primary" onclick="handleSubmitModalEditNeccessary()">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p style="margin-top: 50px;">Them san pham vao goi nhu yeu pham 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddProductNeccessary">
                        <i class="fas fa-plus"></i>
                    </button>
                </p>
                <!-- Modal -->
                <div class="modal fade" id="modalAddProductNeccessary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Them san pham vao goi nhu yeu pham </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="manyp" class="col-form-label">Ma NYP:</label>
                                        <input style="min-width: 200px;" type="text" class="form-control" id="manyp" value="{{neccessary.MaNYP}}" disabled/>
                                    </div>
                                    <div class="form-group">
                                        <label for="sl" class="col-form-label">So Luong:</label>
                                        <input type="number" min="1" class="form-control" id="sl"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="ghsl" class="col-form-label">Gioi Han So Luong:</label>
                                        <input type="number" min="1" class="form-control" id="ghsl"></input>
                                    </div>
                                    <div class="form-group">
                                        <label for="msp" class="col-form-label">Ma San Pham:</label>                                        
                                        <select class="form-control" id="msp">
                                            {{#each listProduct}}
                                            <option>{{this.MaSP}}</option>
                                            {{/each}}
                                        </select>

                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-primary" onclick="handleSubmitModalAddProductNeccessary()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ma NYP</th>
                        <th scope="col">So Luong</th>                        
                        <th scope="col">Gioi Han So Luong</th>
                        <th scope="col">Ma SP</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each neccessaryDetail as |item i| }}
                        <tr>
                            <th scope="row">{{i}}</th>
                            <td>{{item.MaNYP}}</td>
                            <td>{{item.SoLuong}}</td>
                            <td>{{item.GioiHanSL}}</td>                            
                            <td>{{item.MaSP}}</td>
                            <td>
                                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEditProductNeccessary{{@index}}">
                                    <i class="fas fa-edit" data-toggle="tooltip" data-placement="right" title="Edit"></i>
                                </button>                                
                                <!-- Modal -->
                                <div class="modal fade" id="modalEditProductNeccessary{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Chinh sua san pham goi nhu yeu pham </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="manyp-2" class="col-form-label">Ma NYP:</label>
                                                        <input style="min-width: 200px;" type="text" class="form-control" id="manyp-2-{{@index}}" value="{{item.MaNYP}}" disabled/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="sl-2" class="col-form-label">So Luong:</label>
                                                        <input type="number" min="1" class="form-control" id="sl-2-{{@index}}" value="{{item.SoLuong}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="ghsl-2" class="col-form-label">Gioi Han So Luong:</label>
                                                        <input type="number" min="1" class="form-control" id="ghsl-2-{{@index}}" value="{{item.GioiHanSL}}"></input>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="msp-2-{{@index}}" class="col-form-label">Ma San Pham:</label>                                        
                                                        <select class="form-control" id="msp-2-{{@index}}">
                                                            {{#each listProduct}}
                                                            <option>{{this.MaSP}}</option>
                                                            {{/each}}
                                                        </select>

                                                    </div>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <button type="button" class="btn btn-primary" onclick="handleSubmitModalEditProductNeccessary()">Save changes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <i class="fas fa-trash-alt" data-toggle="tooltip" data-placement="right" title="Delete"></i>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        {{/if}}
    </div>
</div>
<script>
    function handleSubmitModalAddProductNeccessary() {
        $(function () {
            $('#modalAddProductNeccessary').modal('toggle');
            let data = {
                "MaNYP": $('#manyp').val(),
                "SoLuong": $('#sl').val(),
                "GioiHanSL": $('#ghsl').val(),
                "MaSP": $('#msp').val(),
            }
            console.log(data)
            fetch('/admin/api/neccessaryDetail/add', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    }


    function handleSubmitModalAddProduct() {
        $(function () {
            $('#modalAddProduct').modal('toggle');
            let data = {
                "MaSP": $('#masp-1').val(),
                "TenSP": $('#tensp-1').val(),
                "GiaTien": $('#gt-1').val(),
                "DonViDinhLuong": $('#dvdl-1').val(),
                "SoLuong": $('#sl-1').val(),
            }
            fetch('/admin/manage-product/add', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    }

    function handleSubmitModalEditProduct(index) {
        $(function () {
            
            let data = {
                "MaSP": $(`#masp-edit-${index}`).val(),
                "TenSP": $(`#tensp-edit-${index}`).val(),
                "GiaTien": $(`#gt-edit-${index}`).val(),
                "DonViDinhLuong": $(`#dvdl-edit-${index}`).val(),
                "SoLuong": $(`#sl-edit-${index}`).val(),
            }
            console.log("Index: ", index)
            fetch('/admin/manage-product/edit', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    }

    function handleSubmitModalDeleteProduct(productID) {
        $(function () {
            
            let data = {
                "MaSP": productID
            }
            fetch('/admin/manage-product/delete', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    }

    function handleSubmitModalEditProductNeccessary() {
        $(function () {
            $('#modalAddProductNeccessary').modal('toggle');
            let data = {
                "MaNYP": $('#manyp-2').val(),
                "SoLuong": $('#sl-2').val(),
                "GioiHanSL": $('#ghsl-2').val(),
                "MaSP": $('#msp-2').val(),
            }
            console.log(data)
            fetch('/admin/api/neccessaryDetail/update', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                {{!-- window.location.reload(); --}}
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    }

    function handleSubmitModalAddNeccessary() {
        $(function () {
            $('#modalAddNeccessary').modal('toggle');
            let data = {
                "MaNYP": $('#manyp-1').val(),
                "TenGoi": $('#tengoi-1').val(),
                "GioiHanGoiNguoi": $('#ghgn-1').val(),
                "ThoiGianGioiHan": $('#tggh-1').val(),
            }
            console.log(data)
            fetch('/admin/api/neccessary/add', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    }

    function handleSubmitModalEditNeccessary() {
        $(function () {
            $('#modalEditNeccessary').modal('toggle');
            let data = {
                "MaNYP": $('#manyp-edit').val(),
                "TenGoi": $('#tengoi-edit').val(),
                "GioiHanGoiNguoi": $('#ghgn-edit').val(),
                "ThoiGianGioiHan": $('#tggh-edit').val(),
            }
            console.log(data)
            fetch('/admin/api/neccessary/update', {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                {{!-- window.location.reload(); --}}
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    }
</script>