<style>
    .wrap {
        display: flex;
        padding: 0 50px;
    }
    .wrap-left {
        padding-top: 40px;
        width: 240px;
    }
    .wrap-left .list {
        list-style: none;
    }
    .wrap-left .list h3 {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 14px;
    }
    .wrap-left .list li {
        font-size: 22px;
        font-weight: 500;
        border-bottom: 1px solid #ccc;
        margin-bottom: 16px;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    .wrap-left .list li a {
        padding-left: 10px;
    }
    .wrap-left .list .active-wrap {
        background-color: var(--primary-color);
        border-radius: 8px 0 0 8px;
    }
    .wrap-left .list .active {
        color: #fff;
        font-weight: 900;
    }
    .wrap-left .list li:hover {
        color: blue;
        transform: translateX(-4px);
    }
    .wrap-right {
        padding: 20px;
        margin-left: 50px;
        margin-top: 20px;
        border: 2px solid #ccc;
        border-radius: 8px;
        flex: 1;
    }

    .form-info {
        width: 50%;
        min-width: 500px;
        margin: 0 auto;
    }

    .form-info label {
        width: 300px;
        margin-top: 20px;
        font-style: italic;
    }
    .form-info input {
        width: 100%;
        padding-left: 8px;
        outline: none;
        border-radius: 4px;
    }
    .form-info input:focus {
        outline: none;
    }
    #submitBtn {
        width: 150px;
        margin-top: 30px;
        background-color: var(--primary-color);
        color: white;
        font-weight: bold;
        border: none;
        height: 40px;
        cursor: pointer;
        border-radius: 5px;
        padding-left: 0;
    }
    button:disabled {
        opacity: .5;
        cursor: not-allowed !important;
    }
    input[type=submit]:hover {
        opacity: 80%;
    }

</style>
<div class="wrap">
    <div class="wrap-left">
        <ul class="list">
            <h3>Người liên quan {{current}}</h3>
            <li class="list-item"><a href="/user/info/{{current}}">Thông tin của tôi</a></li>
            <li class="list-item"><a href="/user/my-order">Đơn hàng của tôi</a></li>
            <li class="list-item"><a href="/user/payment">Lịch sử nạp tiền</a></li>
            <li class="list-item"><a href="/user/history-management/{{current}}">Lịch sử được quản lí</a></li>
            <li class="list-item active-wrap"><a class="active" href="/user/change-password">Đổi mật khẩu</a></li>
        </ul>
    </div>
    <div class="wrap-right">
        <div  class="form-info" >
            <label for="old">Mật khẩu cũ</label>
            <input id="old" type="password" name="old">
            <br>
            <label for="new1">Mật khẩu mới</label>
            <input id="new1" type="password" name="new_password" onkeyup="check_pass()">
            <br>
            <label for="new2">Nhập lại mật khẩu mới</label>
            <input id="new2" type="password" name="re_password" onkeyup="check_pass()">
            <br>
            <button id="submitBtn" onclick="handleSubmit('{{current}}')">Xác nhận</button>
            {{#if status}}
            <div class="alert alert-{{status}}" role="alert" style="margin-top: 20px;">
                {{message}}
            </div>
            {{/if}}
        </div>
    </div>
</div>

<script>
    function handleSubmit(username){
        let data = {
                "username": username,
                "old": $('#old').val(),
                "new_password": $('#new1').val(),
            }
            fetch(`http://localhost:3001/change-password?username=${username}&homepage=true`, {
                method: 'POST', // or 'PUT'
                headers: {
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin' : '*'
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === false){
                    Swal.fire({
                    icon: 'error',
                    title: 'Thất bại',
                    text: 'Mật khẩu cũ không đúng!',
                    })
                }
                else {
                    Swal.fire({
                    icon: 'success',
                    title: 'Thành công',
                    text: 'Bạn đã đổi mật khẩu thành công!',
                    })
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
    function check_pass() {
        if (document.getElementById('new1').value == document.getElementById('new2').value) { 
            document.getElementById('submitBtn').disabled = false;
        } else {
            document.getElementById('submitBtn').disabled = true;
        }
    }
</script>