<style>
    .wrap {
        display: flex;
        padding: 0 50px;
    }
    .wrap-left {
        padding-top: 40px;
        width: 240px;
    }
    .wrap-left .list {
        list-style: none;
    }
    .wrap-left .list h3 {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 14px;
    }
    .wrap-left .list li {
        font-size: 22px;
        font-weight: 500;
        border-bottom: 1px solid #ccc;
        margin-bottom: 16px;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    .wrap-left .list li a {
        padding-left: 10px;
    }
    .wrap-left .list .active-wrap {
        background-color: var(--primary-color);
        border-radius: 8px 0 0 8px;
    }
    .wrap-left .list .active {
        color: #fff;
        font-weight: 900;
    }
    .wrap-left .list li:hover {
        color: blue;
        transform: translateX(-4px);
    }
    .wrap-right {
        padding: 20px;
        margin-left: 50px;
        margin-top: 20px;
        border: 2px solid #ccc;
        border-radius: 8px;
        flex: 1;
    }
    .wrap-right .form-info {
        padding-left: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .wrap-right .form-info .form-group {
        font-size: 20px;
    }
    .wrap-right .form-info .form-group label {
        font-weight: 600;
        color: #333;
    }
    .wrap-right .form-info .form-group input {
        padding:0 12px;
        display: inline-block;
        width: 100px !important;
        overflow: visible;
        min-width: fit-content;
    }
</style>
<div class="wrap">
    <div class="wrap-left">
        <ul class="list">
            <h3>Người liên quan {{current}}</h3>
            <li class="list-item"><a href="/user/info/{{current}}">Thông tin của tôi</a></li>
            <li class="list-item"><a
                    
                    href="/user/my-order"
                >Đơn hàng của tôi</a></li>
            <li class="list-item"><a href="/user/payment">Lịch sử thanh toán</a></li>
            <li class="list-item active-wrap"><a class="active" href="/user/history-management/{{current}}">Lịch sử
                    được quản lí</a></li>
            <li class="list-item"><a href="/user/change-password">Đổi mật khẩu</a></li>
        </ul>
    </div>
    <div class="wrap-right">
        <div class="wrap-right--table">
            <h3>Lịch sử được quản lý</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã Người quản lý</th>
                        <th scope="col">Tên Người quản lý</th>
                        <th scope="col">Thời gian</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each listHistoryManagement}}
                        <tr>
                            <th scope="row">{{inc @index}}</th>
                            <td>{{this.MaNQL}}</td>
                            <td>{{this.HoTen}}</td>
                            <td>{{this.NgayTao}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div class="wrap-right--table">
            <h3>Lịch sử trạng thái</h3>
            {{#if listHistoryStatus}}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Trạng thái</th>
                            <th scope="col">Thời gian</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each listHistoryStatus}}
                            <tr>
                                <th scope="row">{{this.STT}}</th>
                                <td>F{{this.TrangThai}}</td>
                                <td>{{this.NgayTao}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            {{/if}}
        </div>
        <div class="wrap-right--table">
            <h3>Lịch sử nơi điều trị</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên nơi điều trị</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Phường/Xã</th>
                        <th scope="col">Quận/Huyện</th>
                        <th scope="col">Tỉnh/TP</th>
                        <th scope="col">Thời gian</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each listHistoryHospital}}
                        <tr>
                            <th scope="row">{{inc @index}}</th>
                            <td>{{this.TenNDT}}</td>
                            <td>{{this.DiaChi}}</td>
                            <td>{{this.TenPhuongXa}}</td>
                            <td>{{this.TenQuanHuyen}}</td>
                            <td>{{this.TenTinhTP}}</td>
                            <td>{{this.NgayTao}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>