<style>
    .wrap {
        display: flex;
        padding: 0 50px;
    }
    .wrap-left {
        padding-top: 40px;
        width: 240px;
    }
    .wrap-left .list {
        list-style: none;
    }
    .wrap-left .list h3 {
        font-weight: bold;
        font-size: 28px;
        margin-bottom: 14px;
    }
    .wrap-left .list li {
        font-size: 22px;
        font-weight: 500;
        border-bottom: 1px solid #ccc;
        margin-bottom: 16px;
        cursor: pointer;
        transition: all 0.2s linear;
    }
    .wrap-left .list li a {
        padding-left: 10px;
    }
    .wrap-left .list .active-wrap {
        background-color: var(--primary-color);
        border-radius: 8px 0 0 8px;
    }
    .wrap-left .list .active {
        color: #fff;
        font-weight: 900;
    }
    .wrap-left .list li:hover {
        color: blue;
        transform: translateX(-4px);
    }
    .wrap-right {
        padding: 20px;
        margin-left: 50px;
        margin-top: 20px;
        border: 2px solid #ccc;
        border-radius: 8px;
        flex: 1;
    }
    .wrap-right .form-info {
        padding-left: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .wrap-right .form-info .form-group {
        font-size: 20px;
    }
    .wrap-right .form-info .form-group label {
        font-weight: 600;
        color: #333;
    }
    .wrap-right .form-info .form-group input {
        padding:0 12px;
        display: inline-block;
        width: 100px !important;
        overflow: visible;
        min-width: fit-content;
    }
</style>
<div class="wrap">
    <div class="wrap-left">
        <ul class="list">
            <h3>Người liên quan 0001</h3>
            <li class="list-item active-wrap"><a class="active" href="/user/info/{{current}}">Thông tin của tôi</a></li>
            <li class="list-item"><a href="/user/my-order">Đơn hàng của tôi</a></li>
            <li class="list-item"><a href="/user/payment">Lịch sử thanh toán</a></li>
            <li class="list-item"><a href="/user/history-management/{{current}}">Lịch sử được quản lí</a></li>
            <li class="list-item"><a href="/user/change-password">Đổi mật khẩu</a></li>
        </ul>
    </div>
    <div class="wrap-right">
        <form action="" class="form-info">
            {{#if userInfo}}
                <div class="form-group">
                    <label for="id">Mã: </label>
                    <input id="id" disabled  type="text" name="id" value="{{userInfo.[0].MaNLQ}}"/>
                </div>
                <div class="form-group">
                    <label for="name">Họ và tên: </label>
                    <input id="name" disabled type="text" name="name" value="{{userInfo.[0].HoTen}}" />
                </div>
                <div class="form-group">
                    <label for="sex">Giới tính: </label>
                    <input id="sex" disabled type="text" name="sex" value="{{userInfo.[0].GioiTinh}}" />
                </div>
                <div class="form-group">
                    <label for="birth">Ngày sinh: </label>
                    <input id="birth" disabled type="text" name="birth" value="{{userInfo.[0].NgaySinh}}" />
                </div>
                <div class="form-group">
                    <label for="CMND">CMND/CCCD: </label>
                    <input id="CMND" disabled type="text" name="CMND" value="{{userInfo.[0].CMNDCCCD}}" />
                </div>
                <div class="form-group">
                    <label for="phone">Số điện thoại: </label>
                    <input id="phone" disabled type="text" name="phone" value="{{userInfo.[0].SDT}}" />
                </div>
                <div class="form-group">
                    <label for="address">Địa chỉ: </label>
                    <input name="address" disabled type="text" id="address" value="{{userInfo.[0].DiaChi}}"/>
                </div>
                <div class="form-group">
                    <label>Tỉnh/Thành phố: </label>
                    <input disabled name="city" id="city" type="text" value="{{userInfo.[0].TenTinhTP}}" >
                </div>
                <div class="form-group">
                    <label>Quận/Huyện: </label>
                    <input disabled name="district" id="district" type="text" value="{{userInfo.[0].TenQuanHuyen}}">

                </div>
                <div class="form-group">
                    <label>Phường/Xã: </label>
                    <input disabled name="ward" id="ward" type="text" value="{{userInfo.[0].TenPhuongXa}}" >
                </div>
                <div class="form-group">
                    <label>Mã Người liên quan trước: </label>
                    <input disabled name="relate" id="relate" type="text" value="{{userInfo.[0].MaNLQTruoc}}" >
                </div>
            {{/if}}
        </form>
    </div>
</div>