<style>
    .product--item{
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }
    

    .product--image{
        padding-top: 70px;
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .product--image img{
        width: 70%;
        border-radius: 6px;
        -webkit-box-shadow: -8px 6px 19px -1px rgba(0,0,0,0.42); 
        box-shadow: -8px 6px 19px -1px rgba(0,0,0,0.42);
    }

    .product--info{
        width: 50%;
        padding: 50px 40px;
        display: flex;
        flex-direction: column;
    }

    .product--title{
        font-size: 40px;
        font-weight: 800;
    }

    .product--des{
        margin-bottom: 20px;
    }

    .product--price{
        font-size: 20px;
        
    }

    .product--unit{
        font-size: 20px;
        
    }
    .product--info > p {
        font-size: 24px;
    }
    .row-title{
        font-weight: bold;
    }
    {{!-- package --}}
    .product--list-package{
        display: flex;
        flex-direction: column;
    }
    .product--package{
        box-shadow: rgba(70, 70, 197, 0.05) 0px 1px 10px, rgba(12, 12, 206, 0.1) 0px 0px 18px;
        padding: 20px;
        margin-bottom: 20px;
        transition-duration: .5s;
    }
    .product--package:hover{
        transform: translateX(-40px);
    }
    .package--title{
        font-size: 20px;
        font-weight: 600;
    }

    @media  only screen and (max-width: 426px){
        .product--item{
            flex-direction: column;
        }
        .product--image{
            width: 100%;            
        }
        .product--image img{
            width: 100%;
        }
        .product--info{
            width: 100%;            
        }
    }
</style>
<div class="product--item">
    <div class="product--image" uk-lightbox>
        <a class="uk-button" href="/products/{{product.key}}/1.jpg" data-alt="Image">
        <img  src="/products/{{product.key}}/1.jpg" alt="Hihi" />
        </a>
    </div>
    <div class="product--info">
        <div class="product--title">{{product.TenSP}}</div>
        <div class="product--des"><span class="row-title">Mô tả:</span></div>
        <div class="product--price"><span class="row-title">Giá:</span> {{product.GiaTien}} đồng</div>
        <div class="product--unit"><span class="row-title">Đơn vị tính:</span> {{product.DonViDinhLuong}}</div>
        <p style="margin: 20px 0px;">Sản phẩm tồn tại trong các gói sau: </p>
        <div class="product--list-package">
            {{#each package}}
            <a href="/package/{{this.MaNYP}}">
                <div class="product--package">
                    <div class="package--name"><span class="package--title">Gói:</span> {{this.TenGoi}}</div>
                    <div class="package--limit"><span class="package--title">Só lượng giới hạn:</span> {{this.GioiHanGoiNguoi}}</div>
                    <div class="package--timelimit"><span class="package--title">Thời gian giới hạn:</span> {{this.ThoiGianGioiHan}} ngày</div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>